<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Idon'tEvenKnow</title>
    <link rel="stylesheet" href="./styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section id="header">
      <div class="position-for-header">
        <div class="header-flex">
          <img src="./refs/download.jpg" class="header-image" id="monkeyImage"/>
          <div class="side-elemets">
            <div>
              <a href="../refs/1yr bca syll.pdf" download="sem2BcaSyllabus.pdf">SYLLABUS</a>
              <a href="/maths">MATHS</a>
              <a href="/php">PHP</a>
              <a href="/dsa">DSA</a>
              <a href="/dbms">DBMS</a>
              <a href="/evs">EVS</a>
            </div>

            <div class="side-hook">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="get-content">
      <div class="get-content-flex">
        <div class="get-content-grid">
          <div class="itm1 itms">
            <div>
              <div class="flex-column">
                <div class="flex-col-im1">
                  <h1 class="primary-text">Tired</h1>
                  <h1 class="secondry-text">?</h1>
                  <h1 class="primary-text">Of OPENING</h1>
                  <h1 class="secondry-text">PDF !!</h1>
                </div>
                <div class="flex-col-im2">
                  <h2 class="primary-text">AGAIN</h2>
                  <h2 class="secondry-text">AND</h2>
                  <h2 class="primary-text">AGAIN</h2>
                  <h2 class="secondry-text">?!</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="itm2 itms">
            <div>
              <img
                src="./refs/1960s Photo Print Big Breasts Blonde Marion Page Art MP3 • $15_98.jpg"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="redirection">
      <div class="flex-for-card">
        <div class="maths common-card">
          <img src="./refs/maths.jpg" />
          <div class="insideItms">
            <h3>MATHS</h3>
          </div>
        </div>
        <div class="php common-card">
          <img src="./refs/php.jpg" />
          <div class="insideItms">
            <h3>PHP</h3>
          </div>
        </div>
        <div class="dsa common-card">
          <img src="./refs/dsa.jpg" />
          <div class="insideItms">
            <h3>DSA</h3>
          </div>
        </div>
        <div class="dbms common-card">
          <img src="./refs/dbms.jpg" />
          <div class="insideItms">
            <h3>DBMS</h3>
          </div>
        </div>
        <div class="evs common-card">
          <img src="./refs/evs.jpg" />
          <div class="insideItms">
            <h3>EVS</h3>
          </div>
        </div>
      </div>
    </section>

    <section id="footer">
      <div class="ftr">
        <div class="ftr-img">
          <img src="./refs//footer.png" alt="Gata Only" />
        </div>
        <a href="../refs/1yr bca syll.pdf" download="sem2BcaSyllabus.pdf">SYLLABUS PFD</a>
      </div>
    </section>
    <script src="./front.js"></script>
  </body>
</html>
